.btn {
  text-transform: uppercase;
  font-size: 1.7rem;
  padding: 1.5rem 7rem;
  transition: all 0.3s ease-out;
  cursor: pointer;

  &-outline {
    background-color: #fff;
    border: 2px solid #282828;
    color: #282828;

    &:hover {
      background-color: #282828;
      color: #fff;

      @media (max-width: 425px) {
        background-color: #fff;
        color: #282828;
      }
    }
  }

  &-full {
    color: #fff;
    background-color: #282828;
    border: 2px solid transparent;

    &:hover {
      color: #282828;
      background-color: #fff;
      border: 2px solid #282828;

      @media (max-width: 425px) {
        color: #fff;
        background-color: #282828;
      }
    }
  }

  &:hover {
    a {
      color: #fff;

      @media (max-width: 425px) {
        color: #282828;
      }
    }
  }

  a {
    color: #282828;
  }
}
