.card {
  color: #282828;
  position: relative;

  &__img {
    cursor: pointer;
    position: relative;

    &-2 {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: all 0.2s ease-in;
    }

    &:hover &-2 {
      opacity: 1;
      z-index: 1;
    }

    .icons {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition: opacity 0.2s ease;

      i {
        font-size: 2rem;
        cursor: pointer;

        &:first-of-type {
          margin-bottom: 1rem;
        }
      }
    }

    .sizes {
      display: flex;
      justify-content: space-around;
      background-color: #282828;
      color: #fff;
      text-transform: uppercase;
      padding: 1rem 0;
      position: absolute;
      left: 0;
      bottom: 6px;
      width: 100%;
      opacity: 0;
      z-index: -111;
      transition: opacity 0.2s ease-in;

      .regular {
        opacity: 0.7;
      }

      .bold {
        opacity: 1;
        font-weight: bold;
      }
    }

    &:hover .icons,
    &:hover .sizes {
      opacity: 1;
      z-index: 11;
    }
  }

  &__name,
  &__designer {
    text-transform: uppercase;
  }

  &__name {
    font-size: 1.7rem;
    font-weight: 300;
  }

  &__designer {
    margin: 0.3rem 0;
    font-weight: 600;
    font-size: 1.4rem;
  }

  &__price {
    font-weight: 400;

    span {
      &:first-of-type {
        text-decoration: line-through;
        opacity: 0.7;
      }

      &:last-of-type {
        color: red;
        margin-left: 0.7rem;
      }
    }
  }
}
