.card {
  color: #282828;
  position: relative;

  &__img {
    cursor: pointer;
    position: relative;
    height: 29.6rem;
    width: 100%;

    img {
      height: 100%;
    }

    &-2 {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: all 0.2s ease-in;
    }

    &:hover &-2 {
      opacity: 1;
      z-index: 1;
    }

    .icons {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition: opacity 0.2s ease;

      @media (max-width: 425px) {
        opacity: 1;
      }

      i {
        font-size: 2rem;
        cursor: pointer;

        &:first-of-type {
          margin-bottom: 1rem;
        }
      }
    }

    .sizes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #282828;
      color: #fff;
      text-transform: uppercase;
      padding: 0.5rem 2rem;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      z-index: -111;
      transition: opacity 0.2s ease-in;

      @media (max-width: 425px) {
        opacity: 1;
        z-index: 1;
      }
      p {
        padding: 0.5rem;
      }

      .regular {
        opacity: 0.7;
      }

      .bold {
        opacity: 1;
        font-weight: bold;
      }
    }

    &:hover .icons,
    &:hover .sizes {
      opacity: 1;
      z-index: 11;
    }
  }

  &__name,
  &__designer {
    text-transform: uppercase;
  }

  &__name {
    font-size: 1.7rem;
    font-weight: 300;
    color: #282828;
  }

  &__designer {
    margin: 0.3rem 0;
    font-weight: 600;
    font-size: 1.4rem;
  }
}
