.products__container {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 2rem;

  @media (max-width: 425px) {
    grid-template-columns: none;
  }

  & .sort {
    grid-column: 2 / -1;
  }

  & .filters {
    grid-row: 1 / 3;
  }
}
