.single_product {
  &-images {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: max-content;
    column-gap: 2rem;

    @media (max-width: 768px) {
      column-gap: 1rem;
    }

    &-1 {
      height: 100%;

      img {
        cursor: pointer;
        &:not(:last-of-type) {
          margin-bottom: 1rem;
        }
      }
    }

    &-2 {
      img {
        height: 100%;
        width: 100%;
      }
    }

    img {
      display: block;
    }
  }
}
