.nav {
  background-color: #282828;
  padding: 2rem 1rem 1rem 1rem;
  position: sticky;

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

    &-item-1 {
      text-transform: uppercase;
      width: 14rem;
      border: 1px solid #a9a9a9;

      a {
        //   padding: 0.5rem 0;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 3rem;
        text-align: center;
        width: 50%;

        &.active {
          background-color: #a9a9a9;
          color: #282828;
        }
      }
    }

    &-item-2 {
      text-align: center;
    }

    &-item-3 {
      display: flex;
      justify-content: center;
      align-items: center;

      .form {
        position: relative;

        @media (max-width: 76.8em) {
          margin-right: 0.5rem;
        }

        &-ipt {
          background: transparent;
          border: 0;
          color: #fff;
          text-transform: capitalize;
          font-size: 1.5rem;
          border-bottom: 1px solid #a9a9a9;
          width: 80%;
          padding: 0.5rem 0;

          @media (max-width: 95em) {
            width: 90%;
          }

          @media (max-width: 76.8em) {
            width: 100%;
          }
        }

        i {
          position: absolute;
          top: 50%;
          right: 4rem;
          transform: translateY(-50%);

          @media (max-width: 76.8em) {
            right: 1rem;
          }

          @media (max-width: 95em) {
            right: 2rem;
          }
        }
      }

      .select-ipt,
      .user,
      .heart {
        margin-right: 2rem;

        @media (max-width: 95em) {
          margin-right: 1rem;
        }
      }

      .select-ipt {
        text-transform: uppercase;
        background: #282828;
        color: #fff;
        outline: 0;
        border: 0;
        padding: 0.5rem;
      }

      .user {
        text-transform: uppercase;

        span {
          @media (max-width: 102.4em) {
            display: none;
          }
        }

        i {
          margin-right: 2px;
        }
      }
    }
  }

  &__links-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 1rem;

    &-item {
      margin-right: 0.7rem;

      a {
        color: #a9a9a9;
        border-bottom: 1px solid transparent;
        transition: all 0.2s ease-in;

        &:hover {
          color: #fff;
          border-bottom: 1px solid #a9a9a9;
        }
      }
    }
  }
}
