.designer {
  &__container {
    padding: 2rem 8rem;
    color: #282828;

    @media (max-width: 768px) {
      padding: 2rem 5rem;
    }

    @media (max-width: 425px) {
      padding: 2rem 3rem 4rem 3rem;
    }

    @media (max-width: 375px) {
      padding: 2rem 3rem 0rem 3rem;
    }
  }
}
