.filters {
  &__title {
    text-transform: uppercase;
    font-size: 2.8rem;
  }

  &__title,
  &__percentage,
  &__price,
  &__type {
    margin-bottom: 2rem;

    @media (max-width: 425px) {
      margin-bottom: 1rem;
    }
  }

  &__type button {
    display: block;
    margin: 0.25em 0;
    padding: 0.25rem 0;
    text-transform: capitalize;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
  }
  .active {
    border-color: #ebebeb;
  }

  // &__collection {
  //   & select {
  //     border: none;
  //     text-transform: uppercase;
  //     font-size: 1.8rem;
  //     font-weight: 300;
  //     margin-top: 0.5rem;
  //   }
  // }

  &__clear {
    background-color: #282828;
    color: #fff;
    border: 2px solid transparent;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      color: #282828;
      background-color: #fff;
      border: 2px solid #282828;
    }
  }

  h4 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 0.7rem;
  }
}
